
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

@model ProjectWebGreeting.ViewModels.AccountViewModel

  <!-- BOOTSTRAP STYLES-->
<link href="@Url.Content("~/content/")assets/css/bootstrap.css" rel="stylesheet" />
<!-- FONTAWESOME ICONS STYLES-->
<link href="@Url.Content("~/content/")assets/css/font-awesome.css" rel="stylesheet" />
<!--CUSTOM STYLES-->
<link href="@Url.Content("~/content/")assets/css/style.css" rel="stylesheet" />

<div id="page-wrapper" class="page-wrapper-cls">
  
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       Register
                    </div>
                    <div class="panel-body">
            @using (Html.BeginForm("submit", "Register", FormMethod.Post ))
                {
    <!--, new { enctype = "multipart/form-data"}-->
                        <form>
                           
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email Or UserName</label>
                                   <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />-->
                                    @Html.TextBoxFor(model=>model.account.username,new { @class= "form-control", @id= "exampleInputEmail1",placeholder="Enter Email",type="email" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                   <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />-->
                                    @Html.PasswordFor(model => model.account.password, new { @class="form-control" ,@id="exampleInputPassword1" ,placeholder="Password"})
                                </div>
                                <label for="exampleInputPassword1">Question</label>
                               <!-- <input type="text" class="form-control" placeholder="Question input" />-->
                                @Html.TextBoxFor(model => model.account.question, new { @class="form-control", placeholder="Question input"})
                                <label for="exampleInputPassword1">Anwser</label>
                                <!--<input type="text" class="form-control" placeholder="Anwser input" />-->
                                @Html.TextBoxFor(model => model.account.answer, new { @class="form-control", placeholder="Anwser input" })
                                <input type="submit" class="btn btn-info" value="submit" />
                               
                           
                           

                           
                           

<!--
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile" />
                                <p class="help-block">Example block-level help text here.</p>
                            </div>-->
                         


                        </form>
                        <!-- end form-->
}
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <!-- end col 3-->
    </div>
   


    <!-- /. PAGE INNER  -->
</div>

