
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<!--  Home -->
<div class="banner">
    <marquee direction="left"><h2 style="font-size:45px;color:red;padding: 10px 0px 0px 0px;">Over <b>30</b> Million eGreetings Sent</h2></marquee>
    <!--<ul class="bxslider">--> 	<ul class="">
        <!--<a href="cards.php><li><img src="images/banner_baisakhi.jpg" alt="eGreeting Portal" ></li></a>-->
        <!--<li><img src="images/mother-day.jpg" alt="eGreeting Portal" ></li>-->

        <a href="cards.html" target="_blank"><li><img src="@Url.Content("~/content/")images/egreet-banner-gif.gif" alt="eGreeting Portal" style="width:100%"></li></a>




    </ul>

</div>
<!--BANNER END-->
<!--CONTANT START-->
<div class="contant">


    <!--UPCOMING CARDS SECTION START-->
    <section class="gray-bg">
        <div class="container">
            <!--SECTION HEADER START-->
            <div class="sec-header">
                <p>Upcoming Event</p>
                <div>
                    Fathers Day( June 18,2017 )
                </div>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!--SECTION HEADER END-->
            <div class="customNavigation">
                <a class="btn prev"><i class="fa fa-angle-left"></i></a>
                <a class="btn next"><i class="fa fa-angle-right"></i></a>
            </div>
            <div id="owl-carousel" class="owl-carousel owl-theme">



                <!--COURSE ITEM START-->
                <div class="gallery">
                    <ul class="row">
                        <li class="span3">
                            <img src="@Url.Content("~/content/")uploadedgreeting/fday_16_13.jpg" alt="" style="width:270px;height:200px;">
                            <div class="social-icons">
                                <a href="@Url.Content("~/content/")uploadedgreeting/fday_16_13.jpg" rel="prettyPhoto[gallery2]" title="Fathers Day"><i class="fa fa-search"></i></a>
                                <br>
                                <a href="personalize-cardaa43.html?g_id=1173" title="Send"><i class="fa fa-envelope"></i></a>
                                <a onclick="fbshareCurrentPage('1173')" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                <a onclick="tweetCurrentPage('1173')" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                <a id="ref_gp" onclick="googleCurrentPage('1173')" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--COURSE ITEM END-->
                <!--COURSE ITEM START-->
                <div class="gallery">
                    <ul class="row">
                        <li class="span3">
                            <img src="@Url.Content("~/content/")uploadedgreeting/fday_16_12.jpg" alt="" style="width:270px;height:200px;">
                            <div class="social-icons">
                                <a href="@Url.Content("~/content/")uploadedgreeting/fday_16_12.jpg" rel="prettyPhoto[gallery2]" title="Fathers Day"><i class="fa fa-search"></i></a>
                                <br>
                                <a href="personalize-cardc1ab.html?g_id=1172" title="Send"><i class="fa fa-envelope"></i></a>
                                <a onclick="fbshareCurrentPage('1172')" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                <a onclick="tweetCurrentPage('1172')" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                <a id="ref_gp" onclick="googleCurrentPage('1172')" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--COURSE ITEM END-->
                <!--COURSE ITEM START-->
                <div class="gallery">
                    <ul class="row">
                        <li class="span3">
                            <img src="@Url.Content("~/content/")uploadedgreeting/fday_16_11.jpg" alt="" style="width:270px;height:200px;">
                            <div class="social-icons">
                                <a href="@Url.Content("~/content/")uploadedgreeting/fday_16_11.jpg" rel="prettyPhoto[gallery2]" title="Fathers Day"><i class="fa fa-search"></i></a>
                                <br>
                                <a href="personalize-card31fd.html?g_id=1171" title="Send"><i class="fa fa-envelope"></i></a>
                                <a onclick="fbshareCurrentPage('1171')" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                <a onclick="tweetCurrentPage('1171')" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                <a id="ref_gp" onclick="googleCurrentPage('1171')" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--COURSE ITEM END-->
                <!--COURSE ITEM START-->
                <div class="gallery">
                    <ul class="row">
                        <li class="span3">
                            <img src="@Url.Content("~/content/")uploadedgreeting/fday_16_10.jpg" alt="" style="width:270px;height:200px;">
                            <div class="social-icons">
                                <a href="@Url.Content("~/content/")uploadedgreeting/fday_16_10.jpg" rel="prettyPhoto[gallery2]" title="Fathers Day"><i class="fa fa-search"></i></a>
                                <br>
                                <a href="personalize-card1742.html?g_id=1170" title="Send"><i class="fa fa-envelope"></i></a>
                                <a onclick="fbshareCurrentPage('1170')" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                <a onclick="tweetCurrentPage('1170')" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                <a id="ref_gp" onclick="googleCurrentPage('1170')" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--COURSE ITEM END-->
                <!--COURSE ITEM START-->
                <div class="gallery">
                    <ul class="row">
                        <li class="span3">
                            <img src="@Url.Content("~/content/")uploadedgreeting/fday_16_09.jpg" alt="" style="width:270px;height:200px;">
                            <div class="social-icons">
                                <a href="@Url.Content("~/content/")uploadedgreeting/fday_16_09.jpg" rel="prettyPhoto[gallery2]" title="Fathers Day"><i class="fa fa-search"></i></a>
                                <br>
                                <a href="personalize-card5c19.html?g_id=1169" title="Send"><i class="fa fa-envelope"></i></a>
                                <a onclick="fbshareCurrentPage('1169')" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                <a onclick="tweetCurrentPage('1169')" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                <a id="ref_gp" onclick="googleCurrentPage('1169')" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--COURSE ITEM END-->
                <!--COURSE ITEM START-->
                <div class="gallery">
                    <ul class="row">
                        <li class="span3">
                            <img src="@Url.Content("~/content/")uploadedgreeting/fday_16_08.jpg" alt="" style="width:270px;height:200px;">
                            <div class="social-icons">
                                <a href="@Url.Content("~/content/")uploadedgreeting/fday_16_08.jpg" rel="prettyPhoto[gallery2]" title="Fathers Day"><i class="fa fa-search"></i></a>
                                <br>
                                <a href="personalize-cardd9c8.html?g_id=1168" title="Send"><i class="fa fa-envelope"></i></a>
                                <a onclick="fbshareCurrentPage('1168')" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                <a onclick="tweetCurrentPage('1168')" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                <a id="ref_gp" onclick="googleCurrentPage('1168')" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--COURSE ITEM END-->

            </div>
        </div>
        <div class="sec-header">
            <a href="cards.html" class="btn-style">View More Cards</a>
        </div>
    </section>

    <!--UPCOMING CARDS SECTION END-->
    <section>

        <div class="the-best">
            <p><a href="part.html" class="btn-style"><span style="text-transform:lowercase;">e</span>Greetings Portal , &nbsp;Participate &amp; Win Exciting Cash Prizes</a></p>
        </div>
        <a href="winners.html" class="btn-style">View Winners</a>&nbsp;&nbsp;&nbsp;<a href="part.html" class="btn-style">Participate Now</a>
        <div style="height:25px;"></div>

        <div class="container">
            <!--SECTION HEADER START-->
            <div class="sec-header">
                <p>eGreetings Features</p>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!--SECTION HEADER END-->
        </div>
        <div class="course-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <!--<li class="active"><a data-toggle="tab" style="color: #f00;"><i class="fa fa-google" style="color: #f00;"></i>Google Contact</a></li>
                <li class="active"><a data-toggle="tab" style=""><i class="fa fa-yahoo" style=""></i>Yahoo Contact</a></li>
                <li class="active"><a data-toggle="tab" style="color: #00f;"><i class="fa fa-envelope" style="color: #00f;"></i>Hotmail Contact</a></li>
                <li class="active"><a data-toggle="tab" style="color: #A52A2A;"><i class="fa fa-book" style="color: #A52A2A;"></i>Import Textfile</a></li>
                <li class="active"><a data-toggle="tab" style="color: #CFE85B;"><i class="fa fa-file-audio-o" style="color: #CFE85B;"></i>Upload Audio</a></li>
                <li class="active"><a data-toggle="tab" style="color: #0ff;"><i class="fa fa-picture-o" style="color: #0ff;"></i>Department Logos</a></li>-->

                <li class="active"><a data-toggle="tab" style="color: #f00;"><i class="fa fa-google" style="color: #f00;"></i><a style="cursor:pointer;" href="manage_contact.html">Google Contact</a></a></li>
                <li class="active"><a data-toggle="tab" style=""><i class="fa fa-yahoo" style=""></i><a href="manage_contact.html" style="cursor:pointer;">Yahoo Contact</a></a></li>
                <li class="active"><a data-toggle="tab" style="color: #00f;"><i class="fa fa-envelope" style="color: #00f;"></i><a href="manage_contact.html" style="cursor:pointer;">Hotmail Contact</a></a></li>
                <li class="active"><a data-toggle="tab" style="color: #A52A2A;"><i class="fa fa-book" style="color: #A52A2A;"></i><a href="manage_contact.html" style="cursor:pointer;">Import Textfile</a></a></li>
                <li class="active"><a data-toggle="tab" style="color: #CFE85B;"><i class="fa fa-file-audio-o" style="color: #CFE85B;"></i><a href="javascript:void(0)">Upload Audio</a></a></li>
                <li class="active"><a data-toggle="tab" style="color: #0ff;"><i class="fa fa-picture-o" style="color: #0ff;"></i><a href="javascript:void(0)">Department Logos</a></li>



            </ul>

        </div>

    </section>





    <section class="gray-bg tabs-section">

        <div class="l-submain color_alternate">
            <div class="l-submain-h g-html i-cf">

                <div class="g-cols">


                    <div class="one-fourth animate_afc">


                        <div class="w-counter" data-suffix="" data-prefix="" data-count="820">
                            <div class="w-counter-h">
                                <div class="w-counter-number">820</div>
                                <h6 class="w-counter-title">Greeting Cards</h6>

                            </div>
                        </div>

                    </div>


                    <div class="one-fourth animate_afc d1">


                        <div class="w-counter color_primary" data-suffix="+" data-prefix="" data-count="44">
                            <div class="w-counter-h">
                                <div class="w-counter-number">44+</div>
                                <h6 class="w-counter-title">Greeting Categories</h6>
                            </div>
                        </div>

                    </div>




                </div>

            </div>
        </div>
    </section>








</div>
