
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}




<!--BANNER START-->
<div class="page-heading">
    <div class="container">
        <h2>Greeting Cards</h2>
        <p>Greeting Cards</p>
    </div>
</div>
<!--BANNER END-->
<!--CONTANT START-->
<div class="contant">
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="featured-courses">

                    <h2>Browsing All Cards</h2>

                    <div class="row" id="load_m">



                        <div class="responsive-tabs">

                            <h2>Upcoming Events</h2>
                            <div>

                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-cardaa43.html?g_id=1173"><img alt="fday_16_13.jpg" src="@Url.Content("~/content/")uploadedgreeting/fday_16_13.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Fathers Day</span>

                                            <input type="hidden" id="cat_id" value="88">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1173')">Share </a>



                                            <a href="personalize-cardf360.html?g_id=1173&amp;cat_id=88">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_1' style="display:block">
                                                <p class="voted"> Rating: <strong>4</strong>/5 (68  vote(s) cast)
                                            </div>


                                            <div id="infomsg_1"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (68  vote(s) cast) </div>-->

                                            <input type="hidden" value="1" id="valofc" />
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 1173,'infomsg_1','detail_1')">



                                        </div>


                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-cardc1ab.html?g_id=1172"><img alt="fday_16_12.jpg" src="@Url.Content("~/content/")uploadedgreeting/fday_16_12.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Fathers Day</span>

                                            <input type="hidden" id="cat_id" value="88">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1172')">Share </a>



                                            <a href="personalize-cardb75c.html?g_id=1172&amp;cat_id=88">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_2' style="display:block">
                                                <p class="voted"> Rating: <strong>4</strong>/5 (60  vote(s) cast)
                                            </div>


                                            <div id="infomsg_2"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (60  vote(s) cast) </div>-->

                                            <input type="hidden" value="2" id="valofc" />
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 1172,'infomsg_2','detail_2')">



                                        </div>


                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card31fd.html?g_id=1171"><img alt="fday_16_11.jpg" src="@Url.Content("~/content/")uploadedgreeting/fday_16_11.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Fathers Day</span>

                                            <input type="hidden" id="cat_id" value="88">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1171')">Share </a>



                                            <a href="personalize-carddf7c.html?g_id=1171&amp;cat_id=88">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_3' style="display:block">
                                                <p class="voted"> Rating: <strong>4</strong>/5 (50  vote(s) cast)
                                            </div>


                                            <div id="infomsg_3"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (50  vote(s) cast) </div>-->

                                            <input type="hidden" value="3" id="valofc" />
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 1171,'infomsg_3','detail_3')">



                                        </div>


                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card1742.html?g_id=1170"><img alt="fday_16_10.jpg" src="@Url.Content("~/content/")uploadedgreeting/fday_16_10.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Fathers Day</span>

                                            <input type="hidden" id="cat_id" value="88">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1170')">Share </a>



                                            <a href="personalize-cardd7b0.html?g_id=1170&amp;cat_id=88">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_4' style="display:block">
                                                <p class="voted"> Rating: <strong>4</strong>/5 (40  vote(s) cast)
                                            </div>


                                            <div id="infomsg_4"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (40  vote(s) cast) </div>-->

                                            <input type="hidden" value="4" id="valofc" />
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 1170,'infomsg_4','detail_4')">



                                        </div>


                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card5c19.html?g_id=1169"><img alt="fday_16_09.jpg" src="@Url.Content("~/content/")uploadedgreeting/fday_16_09.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Fathers Day</span>

                                            <input type="hidden" id="cat_id" value="88">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1169')">Share </a>



                                            <a href="personalize-cardd709.html?g_id=1169&amp;cat_id=88">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_5' style="display:block">
                                                <p class="voted"> Rating: <strong>4</strong>/5 (37  vote(s) cast)
                                            </div>


                                            <div id="infomsg_5"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (37  vote(s) cast) </div>-->

                                            <input type="hidden" value="5" id="valofc" />
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 1169,'infomsg_5','detail_5')">



                                        </div>


                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-cardd9c8.html?g_id=1168"><img alt="fday_16_08.jpg" src="@Url.Content("~/content/")uploadedgreeting/fday_16_08.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Fathers Day</span>

                                            <input type="hidden" id="cat_id" value="88">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1168')">Share </a>



                                            <a href="personalize-cardb970.html?g_id=1168&amp;cat_id=88">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_6' style="display:block">
                                                <p class="voted"> Rating: <strong>4</strong>/5 (53  vote(s) cast)
                                            </div>


                                            <div id="infomsg_6"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (53  vote(s) cast) </div>-->

                                            <input type="hidden" value="6" id="valofc" />
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 1168,'infomsg_6','detail_6')">



                                        </div>


                                    </div>
                                </div>

                                <div class="pagination">
                                    <div class="btn-style" id="more1168" style="cursor:pointer;width:100%;">
                                        <p class="more" align="center" id="1168" onclick="load_more_up(6,6)">Load More... </p>
                                    </div>
                                </div>

                            </div>

                            <h2>Most Popular</h2>
                            <div>

                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card1b2b.html?g_id=698"><img alt="GandhiJayanti1-1412174411.jpg" src="@Url.Content("~/content/")uploadedgreeting/GandhiJayanti1-1412174411.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Gandhi Jayanti</span>
                                            <input type="hidden" id="cat_id" value="0">
                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('698')">Share </a>



                                            <a href="personalize-cardfb71.html?g_id=698&amp;&amp;cat_id=19">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_7' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (263  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_7"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (263  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 698,'infomsg_7','detail_7')">



                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card94f3.html?g_id=572"><img alt="20101231131330card-6.jpg" src="@Url.Content("~/content/")uploadedgreeting/20101231131330card-6.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">New Year</span>
                                            <input type="hidden" id="cat_id" value="0">
                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('572')">Share </a>



                                            <a href="personalize-card0502.html?g_id=572&amp;&amp;cat_id=12">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_9' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (257  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_9"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (257  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 572,'infomsg_9','detail_9')">



                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-cardb82a.html?g_id=568"><img alt="20101231131211card-4.jpg" src="@Url.Content("~/content/")uploadedgreeting/20101231131211card-4.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">New Year</span>
                                            <input type="hidden" id="cat_id" value="0">
                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('568')">Share </a>



                                            <a href="personalize-cardbbbf.html?g_id=568&amp;&amp;cat_id=12">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_11' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (206  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_11"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (206  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 568,'infomsg_11','detail_11')">



                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-cardf076.html?g_id=542"><img alt="20091208161109newyear2.jpg" src="@Url.Content("~/content/")uploadedgreeting/20091208161109newyear2.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">New Year</span>
                                            <input type="hidden" id="cat_id" value="0">
                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('542')">Share </a>



                                            <a href="personalize-card2adc.html?g_id=542&amp;&amp;cat_id=12">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_13' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (169  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_13"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (169  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 542,'infomsg_13','detail_13')">



                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card950e.html?g_id=130"><img alt="20061129154714newyear4.jpg" src="@Url.Content("~/content/")uploadedgreeting/20061129154714newyear4.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">New Year</span>
                                            <input type="hidden" id="cat_id" value="0">
                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('130')">Share </a>



                                            <a href="personalize-card2cbf.html?g_id=130&amp;&amp;cat_id=12">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_15' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (198  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_15"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (198  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 130,'infomsg_15','detail_15')">



                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card2f00.html?g_id=56"><img alt="20051021125118newyearhindi1.jpg" src="@Url.Content("~/content/")uploadedgreeting/20051021125118newyearhindi1.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">New Year</span>
                                            <input type="hidden" id="cat_id" value="0">
                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('56')">Share </a>



                                            <a href="personalize-carda1af.html?g_id=56&amp;&amp;cat_id=12">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_17' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (166  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_17"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (166  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 56,'infomsg_17','detail_17')">



                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card9bae.html?g_id=131"><img alt="20061129154726newyear5.jpg" src="@Url.Content("~/content/")uploadedgreeting/20061129154726newyear5.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">New Year</span>
                                            <input type="hidden" id="cat_id" value="0">
                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('131')">Share </a>



                                            <a href="personalize-cardad64.html?g_id=131&amp;&amp;cat_id=12">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_19' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (120  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_19"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (120  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 131,'infomsg_19','detail_19')">



                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-cardd114.html?g_id=99"><img alt="20060413152108ambedkar1.jpg" src="@Url.Content("~/content/")uploadedgreeting/20060413152108ambedkar1.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Ambedkar Jayanti</span>
                                            <input type="hidden" id="cat_id" value="0">
                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('99')">Share </a>



                                            <a href="personalize-carde492.html?g_id=99&amp;&amp;cat_id=23">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_21' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (128  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_21"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (128  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 99,'infomsg_21','detail_21')">



                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-carddc4d.html?g_id=322"><img alt="20090331105420baisakhi1.jpg" src="@Url.Content("~/content/")uploadedgreeting/20090331105420baisakhi1.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Baisakhi</span>
                                            <input type="hidden" id="cat_id" value="0">
                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('322')">Share </a>



                                            <a href="personalize-carde47a.html?g_id=322&amp;&amp;cat_id=44">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_23' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (78  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_23"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (78  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 322,'infomsg_23','detail_23')">



                                        </div>



                                    </div>
                                </div>


                            </div>



                            <h2>Recently Added</h2>
                            <div>

                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-cardeb98.html?g_id=1461"><img alt="1494480873_11-05-2017_18.jpg" src="@Url.Content("~/content/")uploadedgreeting/1494480873_11-05-2017_18.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Buddha Purnima</span>
                                            <input type="hidden" id="cat_id" value="0">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1461')">Share </a>



                                            <!-- <a href="#">Share</a>-->
                                            <a href="personalize-card4ecc.html?g_id=1461&amp;&amp;cat_id=33">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_25' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (27  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_25"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>4</strong>/5 (27  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="4" data-size="xs" title="" onChange="onchangeTest(event, 1461,'infomsg_25','detail_25')">


                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card20a9.html?g_id=1459"><img alt="1494480873_11-05-2017_17.jpg" src="@Url.Content("~/content/")uploadedgreeting/1494480873_11-05-2017_17.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Buddha Purnima</span>
                                            <input type="hidden" id="cat_id" value="0">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1459')">Share </a>



                                            <!-- <a href="#">Share</a>-->
                                            <a href="personalize-card0e25.html?g_id=1459&amp;&amp;cat_id=33">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_27' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>3</strong>/5 (20  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_27"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>3</strong>/5 (20  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="3" data-size="xs" title="" onChange="onchangeTest(event, 1459,'infomsg_27','detail_27')">


                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-cardee3a.html?g_id=1457"><img alt="1494480873_11-05-2017_16.jpg" src="@Url.Content("~/content/")uploadedgreeting/1494480873_11-05-2017_16.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Buddha Purnima</span>
                                            <input type="hidden" id="cat_id" value="0">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1457')">Share </a>



                                            <!-- <a href="#">Share</a>-->
                                            <a href="personalize-card1d2a.html?g_id=1457&amp;&amp;cat_id=33">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_29' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>3</strong>/5 (20  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_29"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>3</strong>/5 (20  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="3" data-size="xs" title="" onChange="onchangeTest(event, 1457,'infomsg_29','detail_29')">


                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-cardce6b.html?g_id=1455"><img alt="1494480873_11-05-2017_15.jpg" src="@Url.Content("~/content/")uploadedgreeting/1494480873_11-05-2017_15.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Buddha Purnima</span>
                                            <input type="hidden" id="cat_id" value="0">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1455')">Share </a>



                                            <!-- <a href="#">Share</a>-->
                                            <a href="personalize-cardca2c.html?g_id=1455&amp;&amp;cat_id=33">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_31' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>3</strong>/5 (24  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_31"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>3</strong>/5 (24  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="3" data-size="xs" title="" onChange="onchangeTest(event, 1455,'infomsg_31','detail_31')">


                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card660f.html?g_id=1453"><img alt="1494480873_11-05-2017_14.png" src="@Url.Content("~/content/")uploadedgreeting/1494480873_11-05-2017_14.png" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Buddha Purnima</span>
                                            <input type="hidden" id="cat_id" value="0">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1453')">Share </a>



                                            <!-- <a href="#">Share</a>-->
                                            <a href="personalize-card5686.html?g_id=1453&amp;&amp;cat_id=33">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_33' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>2</strong>/5 (16  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_33"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>2</strong>/5 (16  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="2" data-size="xs" title="" onChange="onchangeTest(event, 1453,'infomsg_33','detail_33')">


                                        </div>



                                    </div>
                                </div>


                                <div class="span3">
                                    <div class="course">
                                        <div class="thumb tooltip_card">
                                            <a href="personalize-card057c.html?g_id=1451"><img alt="1494480873_11-05-2017_13.jpg" src="@Url.Content("~/content/")uploadedgreeting/1494480873_11-05-2017_13.jpg" style="height:200px;width:270px;"></a>
                                            <span class="tooltiptext_card">Buddha Purnima</span>
                                            <input type="hidden" id="cat_id" value="0">

                                        </div>

                                        <div class="course-detail-btn">
                                            <a class="modal_trigger" href="#modal" alt="Share on Facebook" onclick="setCardId('1451')">Share </a>



                                            <!-- <a href="#">Share</a>-->
                                            <a href="personalize-card00ed.html?g_id=1451&amp;&amp;cat_id=33">Send</a>
                                        </div>

                                        <div class="course-detail-btn">


                                            <div id='detail_35' style="display:block">
                                                <div class="total_votes"><p class="voted"> Rating: <strong>3</strong>/5 (20  vote(s) cast)</div>
                                            </div>


                                            <div id="infomsg_35"></div>
                                            <!--<div class="total_votes"><p class="voted"> Rating: <strong>3</strong>/5 (20  vote(s) cast) </div>-->
                                            <input type="text" class="kv-svg rating-loading" value="3" data-size="xs" title="" onChange="onchangeTest(event, 1451,'infomsg_35','detail_35')">


                                        </div>



                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="span3">

                <!--SIDEBAR START-->

                <div class="sidebar">

                    <!--COURSE CATEGORIES WIDGET START-->

                    <div class="widget widget-course-categories">

                        <div class="faq">

                            <h2>Greeting Category</h2>


                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section2">
                                <p>Celebration</p><span><i class="fa fa-minus"></i></span>
                            </div>
                            <div class="contain_cp_accor">


                                <div class="content_cp_accor">
                                    <p><a href="cards8368.html?card_id=23">Ambedkar Jayanti</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsacdd.html?card_id=88">Fathers Day</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards4253.html?card_id=19">Gandhi Jayanti</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards7ffd.html?card_id=65">Good Governance Day</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards5cfa.html?card_id=21">Independence day</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsc625.html?card_id=86">Mothers Day</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsbdc6.html?card_id=12">New Year</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards4484.html?card_id=9">Republic Day</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsfff5.html?card_id=61">Teachers day</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards8d16.html?card_id=87">Yoga day</a></p>
                                </div>


                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section3">
                                <p>Festivals</p><span><i class="fa fa-minus"></i></span>
                            </div>
                            <div class="contain_cp_accor">


                                <div class="content_cp_accor">
                                    <p><a href="cardsee20.html?card_id=44">Baisakhi</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsbfbe.html?card_id=33">Buddha Purnima</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards8ae2.html?card_id=11">Christmas</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards52b1.html?card_id=25">Diwali</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards81e7.html?card_id=27">Durga Puja</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsc0d5.html?card_id=40">Dussehra</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardse6a4.html?card_id=38">Easter</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards1424.html?card_id=24">Eid</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsf628.html?card_id=30">Ganesh Chaturthi</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsda37.html?card_id=62">Guru Nanak Gurpurab</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsc000.html?card_id=26">Holi</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards89ab.html?card_id=39">Janmashtami</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards4b93.html?card_id=42">Maha Shivratri</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsaf9a.html?card_id=43">Mahavir Jayanti</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsfb93.html?card_id=32">Makar Sankranti,Lohri,Pongal</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsa458.html?card_id=57">Onam</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsd5c8.html?card_id=31">Raksha Bandhan</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsa435.html?card_id=28">Ram Navami</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards5bbf.html?card_id=37">Rath Yatra</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards3e70.html?card_id=41">Vasant Panchami</a></p>
                                </div>


                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section4">
                                <p>Glimpses of India</p><span><i class="fa fa-minus"></i></span>
                            </div>
                            <div class="contain_cp_accor">


                                <div class="content_cp_accor">
                                    <p><a href="cardsfa57.html?card_id=17">Cities/Countryside</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsd962.html?card_id=16">Modern India</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards538a.html?card_id=6">Nature</a></p>
                                </div>


                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section5">
                                <p>Heritage</p><span><i class="fa fa-minus"></i></span>
                            </div>
                            <div class="contain_cp_accor">


                                <div class="content_cp_accor">
                                    <p><a href="cards27f9.html?card_id=15">Monuments</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards7677.html?card_id=14">Music &amp; Dance</a></p>
                                </div>


                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section6">
                                <p>Ministry</p><span><i class="fa fa-minus"></i></span>
                            </div>
                            <div class="contain_cp_accor">


                                <div class="content_cp_accor">
                                    <p><a href="cards5737.html?card_id=63">Delhi High Court</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsbdb0.html?card_id=97">Electronics &amp; IT</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsc153.html?card_id=95">Food Processing Industries</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsbd46.html?card_id=64">Telecommunications</a></p>
                                </div>


                            </div>
                            <!--ACORDIAN DATE END-->
                            <!--ACORDIAN DATE START-->
                            <div class="accordion_cp" id="section7">
                                <p>MISCELLANEOUS</p><span><i class="fa fa-minus"></i></span>
                            </div>
                            <div class="contain_cp_accor">


                                <div class="content_cp_accor">
                                    <p><a href="cards5ff2.html?card_id=83">Birthday</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards00b8.html?card_id=84">Congratulations</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cards6e5f.html?card_id=85">Get Well Soon</a></p>
                                </div>

                                <div class="content_cp_accor">
                                    <p><a href="cardsa143.html?card_id=82">Happy Anniversary</a></p>
                                </div>


                            </div>
                            <!--ACORDIAN DATE END-->


                        </div>



                    </div>

                    <!--COURSE CATEGORIES WIDGET END-->



                </div>

                <!--SIDEBAR END-->

            </div>


        </div>
    </div>
    <!--LATEST COURSES SECTION END-->
    <section>

        <div class="the-best">
            <p>eGreetings Portal , &nbsp;Participate &amp; Win Exciting Cash Prizes</p>
        </div>
        <a href="winners.html" class="btn-style">View Winners</a>&nbsp;&nbsp;&nbsp;<a href="part.html" class="btn-style">Participate Now</a>
        <div style="height:15px;"></div>


    </section>




</div>
<!--CONTANT END-->
